apiVersion: apps/v1
kind: Deployment
metadata:
  name: indz-app
namespace: monitoring
spec:
  replicas: 2
  selector:
    matchLabels:
      app: indz-app
  template:
    metadata:
      labels:
        app: indz-app
    spec:
      containers:
        - name: indz-app
          image: indz-app:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          readinessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 3
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10
